/* Trillex Global Stylesheet */
html, body {
  background-color: #050505 !important;
  color: #EAEAEA;
  margin: 0;
  padding: 0;
}

/* Lenis Smooth Scroll Recommended Styles */
html.lenis, html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: clip;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}



